body {
    color: #ff008c;
    margin: 0;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFEC88;
}

header {
    display: flex;
    border-bottom: 4px solid #FAFAFA;
    background-color: #F9A4D3;
    justify-content: center;
}


header h1 {
    color: #F4369D;
    width: fit-content;
    margin: 0;
    padding: 7px;
    text-align: center;
    font-family: Jacques Francois Shadow;
    transition: transform 0.3s, color 0.3s;
}

header h1:hover {
    transform: scale(1.1);
    color: #FF008C;
}

header p {
    inset: 13px 0 0 1216px;
    margin: 0;
    position: absolute;
    font-size: 22px;
    font-family: Alice;
}

button#Lupa {
    top: 7.7px;
    left: 9.7px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border: 0;
    position: absolute;
    background-size: cover;
    background-color: #FFF0;
    background-image: url(../img/Lupa.svg);
}

button#Menu {
    top: 12.8px;
    right: 9.7px;
    width: 30px;
    height: 25px;
    cursor: pointer;
    border: 0;
    position: absolute;
    background-size: cover;
    background-color: #FFF0;
    background-image: url(../img/Menu.svg);
    transition: transform 0.3s, color 0.3s;
}

button#Menu:hover {
    transform: scale(1.1);
}


.menuBarra {
    top: 54.5px;
    right: -21px;
    width: 0;
    height: 100%;
    z-index: 1;
    display: flex;
    padding: 10px 20px 0 0;
    overflow: hidden;
    position: absolute;
    flex-wrap: wrap;
    text-align: center;
    transition: width 0.3s;
    border-left: 2px solid white;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #f9a4d3;
}

a#Links {
    margin: 0;
    width: 236px;
    color: #F4369D;
    border-bottom: 2px solid white;
    padding: 14px 0 29px 0;
    text-decoration: none;
    transition: transform 0.3s, color 0.3s;
}

a#Links:hover {
    transform: scale(1.1);
    color: #FF008C;
}

.Livros {
    padding: 13px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
}

#Livro {
    width: 190px;
    height: 279.5px;
    cursor: pointer;
    border: 0;
    margin-bottom: 20px;
    background-size: cover;
    background-color: #FFF0;
    transition: filter 0.3s ease; 
}

#Livro:hover {
    filter: brightness(70%);
}

@media screen and (max-width: 768px) {
    .Livros {
        padding: 8px;
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
        flex-direction: row;
        justify-content: space-between;
    }

    #Livro {
        width: 175px;
        height: 257.5px;
        cursor: pointer;
        border: 0;
        margin-bottom: 20px;
        background-size: cover;
        background-color: #FFF0;
        transition: filter 0.3s ease;
    }

    #Livro:hover {
        filter: brightness(70%);
    }
}